@*@page
@model Web.Pages.BlogModel
@{
}
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a> Home</a></li>
            <li>Blog</li>
        </ol>
        
    </div>
</section>



    <section  id="blog" class="blog">
        <div  data-aos="fade-up" class="container">
            <div  class="row leftdiv ng-star-inserted">
                <div  class="entry-img col-12 col-xl-6 col-md-6 odd">
                    <div  class="box-bg-shadow"><img  alt=""
                            class="tile-img tile-img1" src="assets/site-images/blog-images/blog-1.jpg"></div>
                </div>
                <div  class="entry-content col-12 col-xl-6 col-md-6 even">
                    <div  class="new_page"><span >
                            <h2  class="entry-title"><a  href="">Which is Best, Being a Developer or Designer For a Better Career ?</a></h2>
                            <p >Most of the engineers and other graduates face the same dilemma while doing their graduation. People often ask them what you want to become, a developer or a designer. Some might think that being a designer is a cool thing as they will get opportunities to build things for the internet and can use their creative side to do so. They will be doing the typography pairings, choosing the color...</p>
                           
                        </span></div>
                </div>
            </div>
            <div  class="row leftdiv ng-star-inserted">
                <div  class="entry-img col-12 col-xl-6 col-md-6 odd">
                    <div  class="box-bg-shadow"><img  alt=""
                            class="tile-img tile-img1" src="assets/site-images/blog-images/blog-2.jpg"></div>
                </div>
                <div  class="entry-content col-12 col-xl-6 col-md-6 even">
                    <div  class="new_page"><span >
                            <h2  class="entry-title"><a  href="">Best Institute To Learn Android Programming</a></h2>
                            <p >Nowadays, many students aspire to become a web designer or a developer? There is a huge demand for Android developers, but what you need is the right training program for Learning Android Programming...  </p>
                      
                        </span></div>
                </div>
            </div>
            <div  class="row leftdiv ng-star-inserted">
                <div  class="entry-img col-12 col-xl-6 col-md-6 odd">
                    <div  class="box-bg-shadow"><img  alt=""
                            class="tile-img tile-img1" src="assets/site-images/blog-images/blog-3.jpg"></div>
                </div>
                <div  class="entry-content col-12 col-xl-6 col-md-6 even">
                    <div  class="new_page"><span >
                            <h2  class="entry-title"><a  href="">A Career In Programming Is The Best Thing You Can Do</a></h2>
                            <p >Have you just graduated, or are in your final years of college? Now this is the time when you should start thinking hard for your career. If a lawyer, doctor or teacher is not in your checklist, then a career in programming is perhaps the thing you should look for. With 42.3 percent people across the world using internet and over 7.5 billion smart devices, the future remains secured in...</p>
                
                        </span></div>
                </div>
            </div>
            <div  class="row leftdiv ng-star-inserted">
                <div  class="entry-img col-12 col-xl-6 col-md-6 odd">
                    <div  class="box-bg-shadow"><img  alt=""
                            class="tile-img tile-img1" src="assets/site-images/blog-images/blog-4.jpg"></div>
                </div>
                <div  class="entry-content col-12 col-xl-6 col-md-6 even">
                    <div  class="new_page"><span >
                            <h2  class="entry-title"><a  href="">Internship for MCA students... their shortcut to success</a></h2>
                            <p > Done your BCA, completed your MCA and now all set to enter professional life. But are you confidently ready for a transition from student life to a working life? Confused! Let’s talk about employers then. They merely get impressed by degrees nowadays, what they actually need is much beyond the paper that speaks about you. </p>
                  
                        </span></div>
                </div>
            </div>
            <div  class="row leftdiv ng-star-inserted">
                <div  class="entry-img col-12 col-xl-6 col-md-6 odd">
                    <div  class="box-bg-shadow"><img  alt=""
                            class="tile-img tile-img1" src="assets/site-images/blog-images/blog-5.jpg"></div>
                </div>
                <div  class="entry-content col-12 col-xl-6 col-md-6 even">
                    <div  class="new_page"><span >
                            <h2  class="entry-title"><a  href="">A
                                    Step-by-Step Guide to Choose the Best PHP Development Company</a></h2>
                            <p > PHP was introduced in the year 1994, and it has been one of the
                                most popular programming languages since then. Around 78% of the websites are based on
                                PHP. PHP is rich in amazing features, add-ons, and frameworks, which makes it a favorite
                                among developers. To turn your ideas into reality, you need to hire a development firm.
                                If you want your next venture to be developed in PHP, the following steps must be
                                followed closely.</p>
                
                        </span></div>
                </div>
            </div>
            <div  class="row leftdiv ng-star-inserted">
                <div  class="entry-img col-12 col-xl-6 col-md-6 odd">
                    <div  class="box-bg-shadow"><img  alt=""
                            class="tile-img tile-img1" src="assets/site-images/blog-images/blog-6.png"></div>
                </div>
                <div  class="entry-content col-12 col-xl-6 col-md-6 even">
                    <div  class="new_page"><span >
                            <h2  class="entry-title"><a  href="">5 Ways to
                                    Integrate Cloud Applications into Your Business</a></h2>
                            <p > The integration of cloud computing can bring many benefits to
                                organizations of different types and sizes. Besides optimizing IT resources, this
                                technology allows companies to achieve higher efficiency and makes them more adaptable
                                to ever-changing market conditions. But while many businesses already utilize the cloud
                                infrastructure in one capacity or another, some of them still hesitate to take this step
                                towards innovation. Often, the main reason is the insufficient understanding of how to
                                approach and execute the process. </p>
                   
                        </span></div>
                </div>
            </div>

        </div>
    </section>
@await Component.InvokeAsync("Project")
  *@