@*@page
@model Web.Pages.ContactModel
@{
}
    

             <section class="breadcrumbs">
               <div class="container">
                   <ol>
                       <li><a>Home</a></li>
                       <li>Contact</li>
                   </ol>
                   
               </div>
             </section>
    @Html.Partial("Shared/PartialView/_Contact")

<div style="background:#ececec;">
    <div id="map-container-google-1" class="z-depth-1-half map-container">
        <iframe id="contactMapUrl" src=""
                frameborder="0" allowfullscreen="" style="width: 100%; height: 400px;"></iframe>
    </div>
</div>

           
@await Component.InvokeAsync("Project")*@
  @*  @Html.Partial("Shared/PartialView/_Clientslideronpage")*@