@page
@model Web.Pages.design_developmentModel
@{
}
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a>Home</a></li>
            <li>Design &amp; Development</li>
        </ol>
        
    </div>
</section>

<section id="blog" class="blog">
    <div data-aos="fade-up" class="container">
        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Design_&amp;_Development.jpg"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span class="new_page_left">
                        <h2 class="entry-title"><a href="">Web Application
                                Development</a></h2>
                        <p>We are leading website development company in India offering world-class
                            custom software development services that are customized according to our client's
                            requirements. We have developed solutions that are utilized in different sectors of
                            business. No matter if you are a startup or developed enterprise, we will happily serve you
                            at any step of your software development. </p>
                
                    </span></div>
            </div>
        </div>
        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Design_&amp;_Development2.jpg"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span class="new_page_left">
                        <h2 class="entry-title"><a href="">web development</a>
                        </h2>
                        <p>If you are looking for a top-notch web development company in India for
                            designing and building a unique, fully-functional, and user-friendly and revenue generating
                            website, then Xtreem solution is the perfect place for you. We offer the affordable web
                            development services at the most affordable price. We are known worldwide for execution of
                            the most reliable and high-quality web applications. Since 10+ years we are the leaders of
                            designing and developing websites, using state-of-the-art technologies like MySQL, PHP ,
                            JAVA Python, CMS and many more. We deliver web based solutions to all starting from small
                            startups to large enterprises. Our web developers design and develop a website, keeping an
                            eye on the client’s requirement and commit to successfully deliver projects in time. </p>
                     
                    </span></div>
            </div>
        </div>
        <!---->
    </div>
</section>