@page
@model Web.Pages.digital_marketingModel
@{
}
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a>Home</a></li>
            <li>Digital Marketing</li>
        </ol>
       
    </div>
</section>

<section id="blog" class="blog">
    <div data-aos="fade-up" class="container">
        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Digital_Marketing2.jpg"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span>
                        <h2 class="entry-title"><a href="">Does digital
                                marketing work for all businesses?</a></h2>
                        <p> Digital marketing can work for any business in any industry.
                            Regardless of what your company sells, digital marketing still involves building out buyer
                            personas to identify your audience's needs, and creating valuable online content. However,
                            that's not to say all businesses should implement a &lt;strong&gt; digital marketing
                            strategy &lt;/strong&gt; in the same way.</p>
                        
                    </span></div>
            </div>
        </div>
        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Digital_Marketing1.jpg"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span>
                        <h2 class="entry-title"><a href="">WebFX is a
                                premier content marketing firm</a></h2>
                        <p> At WebFX, we know the value of content for every digital marketing
                            strategy. In fact, we’re home to dozens of leading content marketers who combine
                            cutting-edge ideas with tried-and-true strategies to get the best possible results for all
                            of our clients. Now, we’ll do the same for you. Contact us today to create a content
                            strategy that’ll help your business grow online!</p>
                        
                    </span></div>
            </div>
        </div>
        <!---->
    </div>
</section>