@*@page
@model Web.Pages.Mobile_appModel
@{
}

<link rel="stylesheet" href="~/css/owl-slider-css/owl.carousel.min.css" />
<link rel="stylesheet" href="~/css/owl-slider-css/owl.theme.default.min.css" />

<script src="~/css/owl-slider-css/js/highlight.js"> </script>
<script src="~/css/owl-slider-css/js/jquery.min.js"> </script>
<script src="~/css/owl-slider-css/js/owl.carousel.min.js"> </script> 


 <section class="mobile">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="mobile_text_main">
                    <div class="mobile_text"><span >Technology  Stack We Follow
                        </span>
                        <h6 > <small class="span-color"> Mobile App Development </small> </br>
                                             Service Provider</h6>
                        <p >With our expertise, we deliver customized industry specific solutions based on the motive to reach you at the international level. As being the best mobile app development service provider, we help you to leverage the latest tools and technologies including AR,VR, Machine Learning, Chatbots, and IoT. </p>
                           
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
         <div id="forcecenteredd" class="owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-1545px, 0px, 0px); transition: all 0.25s ease 0s; width: 4636px;">
          
                   

                        <div class="owl-item " style="width: 386.333px;">
                        <div class="item">
                                   <img 
                                           src="assets/site-images/mobile-app-images/mobile.png" class="w-100"></div>
                                
                        </div>
                    

                        <div class="owl-item " style="width: 386.333px;">
                        <div class="item">
                                   <img 
                                           src="assets/site-images/mobile-app-images/party.png" class="w-100"></div>
                                
                        </div>
                  
                        <div class="owl-item " style="width: 386.333px;">
                        <div class="item">
                                   <img 
                                           src="assets/site-images/mobile-app-images/vrrom.png" class="w-100"></div>
                                
                        </div>
                


                        <div class="owl-item " style="width: 386.333px;">
                        <div class="item">
                                   <img 
                                           src="assets/site-images/mobile-app-images/poki.png" class="w-100"></div>
                                
                        </div>
                

    
               
                    
                </div>
            </div>
          
        </div>
        </div>
    </div>
</section> 






       
 
<script>
    jQuery("#forcecenteredd").owlCarousel({
        autoplay: true,
        lazyLoad: true,
        loop: true,
        nav: false,
        dots: false,
        autoplay: true,
        center: false,
        responsiveClass: true,

        margin: 20,

        responsive: {
            0: {
                items: 1
            },

            600: {
                items: 1
            },

            1024: {
                items: 1
            },

        }
    });
</script>





<section class="mobile-padding">
    <div class="container">
        <div class="row amazing_features">
            <div class="col-12 col-md-12 col-xl-12"><span 
                    class="mobile-hedig"> List of amazing features </span>
                <h6 class="titleh1"> <span  class="span-color"> Trusted</span>  by Industry Leaders
                   </h6>
            </div>
            <div class="col-xl-3 col-md-3 col-lg-3 col-12"><i 
                    aria-hidden="true" style="padding: 17px 16px;" class="fa fa-television"></i>
                <h5 >Ecommerce  Development </h5>
                <p >E-commerce development has become an integral part of any online business. We, at Planet Web Solutions, serve to...</p>
            </div>
            <div class="col-xl-3 col-md-3 col-lg-3 col-12"><i 
                    aria-hidden="true" style="padding: 17px 19px;" class="fa fa-cog"></i>
                <h5 >Fullstack Development</h5>
                <p >The trend of developing full-customized full stack services is gaining impetus in the recent times. The leading...</p>
            </div>
            <div class="col-xl-3 col-md-3 col-lg-3 col-12"><i 
                    aria-hidden="true" style="padding: 17px 19px;" class="fa fa-thumbs-o-up"></i>
                <h5 >AI Application  Development </h5>
                <p >Leverage the power of Artificial Intelligence & advanced Machine Learning towards delivering a highly...</p>
            </div>
            <div class="col-xl-3 col-md-3 col-lg-3 col-12"><i 
                    aria-hidden="true" style="padding: 17px 27px;" class="fa fa-mobile"></i>
                <h5 >Custom iPhone App Development</h5>
                <p >Engage with your end users directly with the help of our custom iPhone app development solutions offered by the team of highly skilled and experienced iPhone app developers.</p>
            </div>
           
        </div>
    </div>
</section>


<section class="container">
    <div class="mobile-padding">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12"><img 
                    src="assets/site-images/mobile-app-images/mobile_app.png" class="w-100"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 Beautiful"><span >
                    Build. Launch. Grow. </span>
                <h6 class="titleh1"><small class="span-color"> We Build Modern</small> Mobile Experiences   </h6>
                <p > We help clients to design and develop future-proof, significant and secure digital products that are centered around users’ needs and fulfil clients’ business goals.</p>
                <ul >
                    <li ><i aria-hidden="true" class="fa fa-trophy"></i>
                        Awesome design</li>
                    <li ><i aria-hidden="true"
                            class="fa fa-thermometer-full"></i> Fully responsive</li>
                    <li ><i aria-hidden="true" class="fa fa-bolt"></i> Retina
                        ready</li>
                    <li ><i aria-hidden="true" class="fa fa-tachometer"></i>
                        Tons of features and easy to use</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="Super">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-12 Beautiful">
                <div class="mobile_text_main">
                    <div ><span > dip into the details </span>
                        <h6 class="titleh1">   <small   class="span-color"> Success Stories </small>  for Startups & Brands</h6>
                        <p > From chartbuster iOS and Android app development to elegant web development, we build products that enhance user-engagement & maximizes business growth.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-12 mb-4"><img 
                    src="assets/site-images/mobile-app-images/mobileaap222.png" class="w-100"></div>
        </div>
    </div>
</section>

<div style="background:#ececec;">
    <div  id="map-container-google-1" class="z-depth-1-half map-container"><iframe
            
            src="https://maps.google.com/maps?q=manhatan&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
            frameborder="0" allowfullscreen="" style="width: 100%; height: 400px;"></iframe></div>
</div>

@await Component.InvokeAsync("Project")*@