@page
@model Web.Pages.responsive_web_design_servicesModel
@{
}
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a>Home</a></li>
            <li>Responsive Web Design Services</li>
        </ol>
    </div>
</section>

<section id="blog" class="blog">
    <div data-aos="fade-up" class="container">
        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Web_PortalDesigning_Servicess22.jpg"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span>
                        <h2 class="entry-title"><a href="">Why Should You
                                Invest In Good Web Design Services?</a></h2>
                        <p> The design of website is the primary thing your users will see when
                            they visit your website. A good website design helps you in many ways. Have a look at some
                            stats. </p>
                        
                    </span></div>
            </div>
        </div>
        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Web_PortalDesigning_Servicess.jpg"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span>
                        <h2 class="entry-title"><a href="">What Makes
                                PixelCrayons The Best Web Designing Company in India?</a></h2>
                        <p> PixelCrayons is counted among top website designing companies in India
                            that has 14+ years of experience in creating the visual identity for people, brands, and
                            companies with best responsive web design services. Being an award winning web design
                            agency, we provide unique website design and development solutions. </p>
                        
                    </span></div>
            </div>
        </div>
        <!---->
    </div>
</section>