@page
@model Web.Pages.Server_ManagementModel
@{
}
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a>Home</a></li>
            <li>Service Management</li>
        </ol>
    </div>
</section>

<section id="blog" class="blog">
    <div data-aos="fade-up" class="container">
        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Service-Management.jpg"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span>
                        <h2 class="entry-title"><a href="">ServiceNow IT Service Management</a></h2>
                        <p> With ITSM tools in ServiceNow, organizations with IT as operations get automated tasks and workflows related with the management and delivery of quality IT services. It includes all the processes and activities to design, create, and deliver IT services to customers.</p>
                    </span></div>
            </div>
        </div>
        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Service-Management1.jpg"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span>
                        <h2 class="entry-title"><a href="">ServiceNow Consulting & Implementation</a></h2>
                        <p> The Tagosys offers consulting support on installing, configuring, customizing, integrating, and migrating software products from ServiceNow. We help enterprises to automate their business processes by creating digitized workflows that simplify their daily business operations.</p>
                        
                    </span></div>
            </div>
        </div>
        <!---->
       <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Service-Management2.jpg"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span>
                        <h2 class="entry-title"><a href="">ServiceNow IT Operations Management</a></h2>
                        <p> ITOM in ServiceNow application development helps enterprises to have better visibility across business infrastructure, maximize service health, and enhance cloud delivery and spend. With this service, we aim to hone your organization’s operational agility with ServiceNow.    </p>
                       
                    </span></div>
            </div>
        </div>

        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Service-Management3.png"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span>
                        <h2 class="entry-title"><a href="">ServiceNow IT Business Management</a></h2>
                        <p> IBTM in ServiceNow development is a set of workflows and tools designed to optimally develop, deliver, and manage business services. It helps organizations to manage their core business services through pre-established automated workflows and tools.</p>
                        
                    </span></div>
            </div>
        </div>



    </div>
</section>