@page
@model Web.Pages.unique_and_impressive_designsModel
@{
}
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a>Home</a></li>
            <li>Unique and impressive Designs</li>
        </ol>

    </div>
</section>


<section id="blog" class="blog">
    <div data-aos="fade-up" class="container">
        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Unique_and_Impresive_Designs.jpg"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span class="new_page_left">
                        <h2 class="entry-title"><a href="">So you’re looking
                                for some UX design</a></h2>
                        <p>Let’s be honest — we’re in the world of online business. Without one of
                            the best UX websites, your product or service will suffer. You may not achieve the sales or
                            customer retention rates that you hope for. However, when we pair the website user
                            experience best practices with your industry, you’re up with a competitive advantage. But
                            what is website UX? What are UX best practices? Read more with an overview of our 10 best
                            user experience websites. </p>
                       
                    </span></div>
            </div>
        </div>
        <div class="row leftdiv">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img alt=""
                    class="img-fluid" src="assets/site-images/link-page-images-all/Unique_and_Impresive_Designs2.gif"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span class="new_page_left">
                        <h2 class="entry-title"><a href="">Who is Gloria
                                Lo?</a></h2>
                        <p>Gloria Lo is a self-taught product designer based in Sydney, Australia.
                            In her own words, she is passionate about improving the lives of others through design, and
                            is constantly looking to learn new things everyday. </p>
                      
                    </span></div>
            </div>
        </div>
        <!---->
    </div>
</section>