@page
@model Web.Pages.website_and_api_developmentModel
@{
}
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a>Home</a></li>
            <li>Website and API Development</li>
        </ol>
  
    </div>
</section>

<section id="blog" class="blog">
    <div data-aos="fade-up" class="container">
        <div class="row">
            <div class="entry-img col-12 col-xl-6 col-md-6"><img
                    src="assets/site-images/link-page-images-all/We_band_Mobile3.jpg" alt="" class="img-fluid"></div>
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span>
                        <h2 class="entry-title"><a href="">Mobile Web Apps</a>
                        </h2>
                        <p> Web apps are not real applications; they are really websites that, in
                            many ways, look and feel like native applications, but are not implemented as such. They are
                            run by a browser and typically written in HTML5. Users first access them as they would
                            access any web page: they navigate to a special URL and then have the option of “installing”
                            them on their home screen by creating a bookmark to that page. </p>
                       
                    </span></div>
            </div>
        </div>
        <div class="row">
            <div class="entry-content col-12 col-xl-6 col-md-6">
                <div class="new_page"><span>
                        <h2 class="entry-title"><a href="">Mobile app
                                testing</a></h2>
                        <p> Mobile applications are first tested within the development environment
                            using emulators and later subjected to field testing. Emulators provide an inexpensive way
                            to test applications on mobile phones to which developers may not have physical access. The
                            following are examples of tools used for testing application across the most popular mobile
                            operating systems. </p>
                      
                    </span></div>
            </div>
            <div class="entry-img col-12 col-xl-6 col-md-6"><img
                    src="assets/site-images/link-page-images-all/We_band_Mobile4.jpg" alt="" class="img-fluid"></div>
        </div>
    </div>
</section>