@*<section id="section2" class="mrz-width Windows">
       
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-xl-12 for-work titleh1"> <span> Client  Speaks </span></div>
    </div>
  </div>
    
    <div id="myCarousel" data-ride="carousel" class="carousel slide carousel-fade">
        <div class="container-fluid">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12"></div>
                                <div class="col-md-7 col-xl-7 col-lg-7 col-12 order-md-1 order-2">
                                    <h4>Josephe Strada - USA</h4>
                                    <p>
                                        Awesome! Very good communication! Good quality work! Look
                                        forward to working with him on newer versions.
                                    </p>
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 order-md-2 order-1">
                                    <img alt="slide" class="mx-auto" src="assets/site-images/client-image/joseph.jpg">
                                </div>
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12 order-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12"></div>
                                <div class="col-md-7 col-xl-7 col-lg-7 col-12 order-md-1 order-2">
                                    <h4>Katrin Z - Switzerland</h4>
                                    <p>
                                        Great experience! Very communicative. Good quality of work and
                                        delivered on time. Recommend+++
                                    </p>
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 order-md-2 order-1">
                                    <img alt="slide" class="mx-auto" src="assets/site-images/client-image/Katrin.jpg">
                                </div>
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12 order-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12"></div>
                                <div class="col-md-7 col-xl-7 col-lg-7 col-12 order-md-1 order-2">
                                    <h4>Dave Moore - USA</h4>
                                    <p>
                                        Just amazing to work with. I dont want to tell everyone how good they are, because I dont want to share! But in any case, they are rockstars and excellent to work with. I gave them a few bonuses for doing things ahead of time. "EXCELLENT TEAM"
                                    </p>
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 order-md-2 order-1">
                                    <img alt="slide" class="mx-auto" src="assets/site-images/client-image/davemoore.png">
                                </div>
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12 order-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12"></div>
                                <div class="col-md-7 col-xl-7 col-lg-7 col-12 order-md-1 order-2">
                                    <h4>Suzuki Web - JAPAN</h4>
                                    <p>
                                        Their team is talented and was able to pull off our app in a very neat way. The app looks great, performs very well and is highly efficient. More importantly, vicky and his team have the capability to deliver complex apps across both platforms (Android/IPhone) right from control to device updates. We already have made up our mind to work with them for the Phase-2 and would whole-heatedly recommend them.
                                    </p>
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 order-md-2 order-1">
                                    <img alt="slide" class="mx-auto" src="assets/site-images/client-image/Suzuki.png">
                                </div>
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12 order-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!---->
                

                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12"></div>
                                <div class="col-md-7 col-xl-7 col-lg-7 col-12 order-md-1 order-2">
                                    <h4>Milan - Australia</h4>
                                    <p>Fast and efficient.</p>
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 order-md-2 order-1">
                                    <img alt="slide" class="mx-auto" src="assets/site-images/client-image/milan.jpg">
                                </div>
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12 order-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="carousel-item active">
                    <div class="mask flex-center">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12"></div>
                                <div class="col-md-7 col-xl-7 col-lg-7 col-12 order-md-1 order-2">
                                    <h4>Klaim Media - Canada</h4>
                                    <p>
                                        WOW! Absolutely amazing experience. This freelancer went above
                                        and beyond for me. He was patient, communicative, and super professional. The work
                                        he produced was absolutely amazing and I will definitely be using him again!
                                    </p>
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 order-md-2 order-1">
                                    <img alt="slide" class="mx-auto" src="assets/site-images/client-image/klaim.jpg">
                                </div>
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12 order-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12"></div>
                                <div class="col-md-7 col-xl-7 col-lg-7 col-12 order-md-1 order-2">
                                    <h4>Nick (Red Mango Loans) - Australia</h4>
                                    <p>
                                        great communication and effort. thank you very good
                                        understanding and effort.
                                    </p>
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 order-md-2 order-1">
                                    <img alt="slide" class="mx-auto" src="assets/site-images/client-image/nick.png">
                                </div>
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12 order-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12"></div>
                                <div class="col-md-7 col-xl-7 col-lg-7 col-12 order-md-1 order-2">
                                    <h4>Jojobrien - United Kingdom</h4>
                                    <p>Fast and efficient.</p>
                                </div>
                                <div class="col-md-3 col-xl-3 col-lg-3 col-12 order-md-2 order-1">
                                    <img alt="slide" class="mx-auto" src="assets/site-images/client-image/jojobiden.jpg">
                                </div>
                                <div class="col-md-1 col-xl-1 col-lg-1 col-12 order-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <!---->
            </div><a href="#myCarousel" role="button" data-slide="prev"
            class="carousel-control-prev"><span aria-hidden="true"
                class="carousel-control-prev-icon"></span><span
                class="sr-only">Previous</span></a><a href="#myCarousel" role="button"
            data-slide="next" class="carousel-control-next"><span aria-hidden="true"
                class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
    </div>
    </div>
    <div class="banner-3"></div>
</section>*@