@*

<link rel="stylesheet" href="~/css/owl-slider-css/owl.carousel.min.css" />
<link rel="stylesheet" href="~/css/owl-slider-css/owl.theme.default.min.css" />

<script src="~/css/owl-slider-css/js/highlight.js"> </script>
<script src="~/css/owl-slider-css/js/jquery.min.js"> </script>
<script src="~/css/owl-slider-css/js/owl.carousel.min.js"> </script>


<div class="bg-slaider">
    <div class="container-fluid">
        <div id="forcecentered" class="owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage"
                    style="transform: translate3d(-1545px, 0px, 0px); transition: all 0.25s ease 0s; width: 4636px;">
          
              

                       <div class="owl-item active" style="width: 386.333px;">
                        <div class="item">
                            <div class="testimonial-item">
                                <div class="onpageslider-logo-box row">
                                   <div class="col-xl-3 col-md-3 col-3">  <div class="onpageslider-img">  <img  src="assets/site-images/project-slider/Party-logo.png" alt="" class="testimonial-img"> </div></div>
                                   <div class="col-xl-9 col-md-9 col-9">  <h3>Party App</h3></div>
                             
                                </div>
                                <p><i
                                        class="bx bxs-quote-alt-left quote-icon-left"></i> The app was developed for party organizer to manage parties.
                                                    The app is widely used for ticket scanning of popular events across the UK. 
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                            </div>
                        </div>
                    </div>  
                  <div class="owl-item active" style="width: 386.333px;">
                        <div class="item">
                            <div class="testimonial-item ">
                              <div class="onpageslider-logo-box row">
                                <div class="col-xl-3 col-md-3 col-3">  <span class="onpageslider-img">    <img  src="assets/site-images/project-slider/eHealthGPS.png" alt="" class="testimonial-img"> </span></div>
                                <div class="col-xl-9 col-md-9 col-9">  <h3>eHealthGPS</h3></div>
                             
                                </div>
                                <p><i
                                        class="bx bxs-quote-alt-left quote-icon-left"></i>The app concept is much populer presently. Its a online doctor consultation app that use video
                                           streaming to communicate with doctors. In covid pendamic it was very usefull for non-covid patients. <i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                            </div>
                        </div>
                    </div>
                   <div class="owl-item" style="width: 386.333px;">
                        <div class="item">
                            <div class="testimonial-item">
                               <div class="onpageslider-logo-box row">
                              <div class="col-xl-3 col-md-3 col-3">  <span class="onpageslider-img w-100">  <img class="w-100"  src="assets/site-images/project-slider/vroom.png" alt="" class="testimonial-img"> </span></div>
                              <div class="col-xl-9 col-md-9 col-9">  <h3>Vruum</h3></div>
                              
                                </div>
                                <p><i
                                        class="bx bxs-quote-alt-left quote-icon-left"></i> Its a very useful app for cab bookings. Its low cost cab service provider and having many great features in the app. The app plan is to launch worldwide. The app will be available soon on play stores. <i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                            </div>
                        </div>
                    </div> 
                    <div class="owl-item" style="width: 386.333px;">
                        <div class="item">
                            <div class="testimonial-item">
                               <div class="onpageslider-logo-box row">
                               <div class="col-xl-3 col-md-3 col-3">  <span class="onpageslider-img">  <img  src="assets/site-images/project-slider/Pocket.png" alt="" class="testimonial-img"> </span></div>
                               <div class="col-xl-9 col-md-9 col-9">  <h3>Pocket Broker</h3></div>
                                </div>
                                <p> <i class="bx bxs-quote-alt-left quote-icon-left"></i>This app is developed for loan agents that can submit applications and track status of loan applications. Its helping to them to manage their loan leads.<i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                            </div>
                        </div>
                    </div>  
            
                </div>
            </div>
            <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                        aria-label="Previous">‹</span></button><button type="button" role="presentation"
                    class="owl-next"><span aria-label="Next">›</span></button></div>
            <div class="owl-dots disabled"></div>
        </div>
    </div>
</div>
<script>
    jQuery("#forcecentered").owlCarousel({
        autoplay: true,
        lazyLoad: true,
        loop: true,
        nav: true,
        dots: false,
        autoplay: true,
        center: false,
        responsiveClass: true,

        margin: 20,

        responsive: {
            0: {
                items: 1
            },

            600: {
                items: 2
            },

            1024: {
                items: 3
            },

            1366: {
                items: 3
            }
        }
    });
</script>*@