@*<section class="Microsoft-Edge-width  p-mobile">
    <div id="carouselExampleCaptions" data-ride="carousel" class="carousel slide">
       
        <div class="carousel-inner">
            <div class="carousel-item" ng-reflect-ng-class="active">
                <div class="row no-gutters" style="flex-direction: row-reverse;">
                    <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <div class="img-index-salidr"><img alt="..."
                                class="w-100 d-block" src="assets/site-images/home-banner/banner5.jpg"></div>
                    </div>
                    <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <div class="slader-index">
                            <div>
                                <h1 class="c-heading-slad h-align">IPHONE APP <span
                                        class="span-color1"><br> DEVELOPMENT
                                        SERVICES </span></h1>
                                <div class="c-paragraph p-align">
                                    <p>Tagosys IT Solution is a renowned iPhone Application
                                        Development Company in India offering offshore iPhone App Development Services
                                        &amp; iPhone Mobile Application Development.</p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="carousel-item">
                <div class="row no-gutters" style="flex-direction: row-reverse;">
                    <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <div class="img-index-salidr"><img alt="..."
                                class="w-100 d-block" src="assets/site-images/home-banner/banner3.jpg"></div>
                    </div>
                    <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <div class="slader-index">
                            <div>
                                <h1 class="c-heading-slad h-align">FULL STACK <span
                                        class="span-color1"><br> DEVELOPMENT
                                        SERVICES</span></h1>
                                <div class="c-paragraph p-align">
                                    <p>Full Stack Development company Tagosys IT Solution offers
                                        custom Full Stack Development and Full Stack application services at cost
                                        effective price.</p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
            <div class="carousel-item">
                <div class="row no-gutters" style="flex-direction: row-reverse;">
                    <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <div class="img-index-salidr"><img alt="..."
                                class="w-100 d-block" src="assets/site-images/home-banner/training-banner2.jpg"></div>
                    </div>
                    <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <div class="slader-index">
                            <div>
                                <h1 class="c-heading-slad h-align"> TRAINING <span
                                        class="span-color1"><br> DEVELOPMENT
                                        SERVICES</span></h1>
                                <div class="c-paragraph p-align">
                                    <p>Full Stack Development company Tagosys IT Solution offers
                                        custom Full Stack Development and Full Stack application services at cost
                                        effective price.</p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="carousel-item">
                <div class="row no-gutters" style="flex-direction: row-reverse;">
                    <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <div class="img-index-salidr"><img alt="..."
                                class="w-100 d-block" src="assets/site-images/home-banner/banner6.jpg"></div>
                    </div>
                    <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <div class="slader-index">
                            <div>
                                <h1 class="c-heading-slad h-align">TOP-RATED REACT NATIVE <span
                                        class="span-color1"><br> DEVELOPMENT
                                        SERVICES</span></h1>
                                <div class="c-paragraph p-align">
                                    <p>Empowering Businesses with React Native Apps serving
                                        authentic iOS and Android Platform presence with customer-centric solutions!</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="carousel-item active">
                <div class="row no-gutters" style="flex-direction: row-reverse;">
                    <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <div class="img-index-salidr"><img alt="..."
                                class="w-100 d-block" src="assets/site-images/home-banner/banner1.jpg"></div>
                    </div>
                    <div class="col-xl-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <div class="slader-index">
                            <div>
                                <h1 class="c-heading-slad h-align">HYBRID MOBILE APP <span
                                        class="span-color1"><br> DEVELOPMENT
                                        SERVICES</span></h1>
                                <div class="c-paragraph p-align">
                                    <p>Hybrid Mobile App Development Company offers Cross Platform
                                        Mobile Application development services for all hybrid platforms with optimum
                                        quality standards.</p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a href="#carouselExampleCaptions" role="button" data-slide="prev"
            class="carousel-control-prev"><span class="Previous-next"><span
                    aria-hidden="true" class="carousel-control-prev-icon"></span></span><span
                class="sr-only">Previous</span></a><a href="#carouselExampleCaptions"
            role="button" data-slide="next" class="carousel-control-next"><span
                class="Previous-next"><span aria-hidden="true"
                    class="carousel-control-next-icon"></span></span><span
                class="sr-only">Next</span></a>
    </div>
</section>*@