@{
    Layout = "~/Areas/Public/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a href="~/Public/Home/index">Home</a></li>
            <li>Team</li>
        </ol>
    </div>
</section>

@await Component.InvokeAsync("Team")

@await Component.InvokeAsync("Project")