@page
@model MyProject.Pages.Digital_MarketingModel
@{
}





<link rel="stylesheet" href="~/css/portfolio.css" />
<section class="banner"><img src="/assets/site-images/home-image/services/all-bg1.png" class="w-100">
    <div class="text-banner">
        <h1 class="c-heading-2 f-lean x-hidden-focus">Digital Marketing Solution  </h1>
     @* <p class="c-paragraph-1">The evolution of internet has made it compulsory to build an appealing website for your clients/customers. A website is the face of your business on the online platform.</p>  *@
    </div>
    @* <div class="banner-2"></div> *@
</section>
   <div class="container mt-4 mb-4">
       <div class="row">
           <div class="col-md-12">
                       <h1 class="titleh1 titleh1pot">Performance-driven Digital Marketing <span class="span-color">Services </span></h1>
                       <p> We are a full-service performance-driven digital marketing agency in India offering a complete range of Digital Marketing Services focused on delivering outstanding results. Our internet marketing services are geared towards delivering exceptional ROI and visible results.</p>
                       <p> Our experts use their experience and profound knowledge in delivering an end-to-end e-commerce solution. Our solutions are efficiently integrated with your website. Our e-commerce website developers believe in timely delivery as we understand the value of your time. We also believe in financially savvy solutions and offer you cost-effective services along with enterprise quality and great consistency.</p>
                       @* <p class="pt-2 pb-2"> Our SEO experts have designed the SEO packages by keeping almost all the requirements and suppositions of search engine optimization in mind. To bring our client’s business on top, our professional implement the perfect fit SEO techniques.</p> *@
           </div>
       </div>
         <div class="row pt-4 pb-4">
           <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
              <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-television" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> MAGENTO DEVELOPMENT</h3>
                  <p> Magento is an open-source ecommerce development platform. Our experts know how to use it in the right way and thus we assure you would be the exclusive ecommerce website with all the necessary features. </p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
                  <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                 <i class="fa fa-desktop" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> WOO COMMERCE DEVELOPMENT</h3>
                  <p> Planning for a custom-made ecommerce platform? Avail our Woo Commerce services ensuring that you can manage online sales making your consumers feel happy. In this way, you can establish a better business status with a comprehensive ecommerce website. </p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
                  <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-television" aria-hidden="true"></i>
                  <h3 class="c-heading-in">PRESTASHOP DEVELOPMENT</h3>
                  <p> We are expert doing Prestashop development where we focus on three factors, which are themes, modules and overriding. So, we turns out with a perfect web application running on Prestashop with an excellent outlook.</p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
               <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> OPEN CART DEVELOPMENT</h3>
                  <p>We pay attention to the frontend module functionality ensuring that you can use the features with all best results. We manage the queries in the right way that would aid you to understand the real importance of technology.</p>
              </div>
           </div>
   
        </div>


<div class="row pt-4 mt-2 ">
         <div class="col-xl-12 col-md-12"> <h6 class="titleh1">Your Digital Marketing Campaign Success Is Now Attainable and Measurable</h6> </div>
         <div class="col-xl-12 col-md-12 col-12 col-sm-12">
          <p>We’re Appsshoppy, The Best Digital Marketing Agency that aims at growing your business successfully with the help of reliable Internet Marketing Solutions that suit your company’s specific demands. We specialize in designing effective Digital Marketing Campaign With a perfect mix of expertise, proficiency, and experience to increasing web traffic, improving the conversion rate and achieving the Conversion goals seamlessly</p>
          @* <ul> 
               <li>Master group with 5+ long stretches of normal experience</li>
               <li>The undertaking is directed by a specialized lead </li>
               <li>Engineers gifts coordinate your task needs</li>
               <li> No arrangement expenses: pay just for the work done</li>
               <li>Exacting non-divulgence understanding for information assurance</li>
               <li> Adaptable commitment on full-time or hourly premise</li>
               <li>As usual, your outcomes advance beyond plan</li> 
               <li> Complete Transparency is ensured</li>
           </ul>  *@
         </div>
         @* <div class="col-xl-6 col-md-6 col-12 col-sm-12">
          <img class="w-100" src="/assets/site-images/home-image/services/web-desing.png"/>
             
         </div> *@
        </div>  



    </div> 