@page
@model MyProject.Pages.Logo_DesignModel
@{
}





<link rel="stylesheet" href="~/css/portfolio.css" />
<section class="banner"><img src="/assets/site-images/home-image/services/all-bg1.png" class="w-100">
    <div class="text-banner">
        <h1 class="c-heading-2 f-lean x-hidden-focus">LOGO DESIGN</h1>
     @* <p class="c-paragraph-1">The evolution of internet has made it compulsory to build an appealing website for your clients/customers. A website is the face of your business on the online platform.</p>  *@
    </div>
    @* <div class="banner-2"></div> *@
</section>
   <div class="container mt-4 mb-4">
       <div class="row">
           <div class="col-md-12">
                       <h1 class="titleh1 titleh1pot">LOGO DESIGN<span class="span-color">Services </span></h1>
                       <p> Logo is an immensely important part of any business as it contributes towards the brand identity, which is the gateway to any business’s success. Yet many fail to understand its strategic importance. We offer a wide range of logo design services to help businesses develop a strong position in their target industry.</p>
                       <p> We want all our clients to create a long term and positive impression through their logo designs, since a strong identity helps a business attract new customers and keeps the existing ones coming back to buy, time and again. Therefore, we create all our logos using the most scientific methodologies.</p>
                  <p>At first, we take time to understand our client’s business to start designing the logo that captures the unique personality of the company. Next, our logo designers will provide you with some initial mock-ups, following all your specifications. You will need to choose one of these mock-ups, based on which our designers will create the final logo. </p>
                      
           </div>
       </div>
         <div class="row pt-4 pb-4">
           <div class="col-md-6 col-12 col-xs-6 col-xl-6 mb-2"> 
              <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                 
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-6 mb-2"> 
                  <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
            
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-6 mb-2"> 
                  <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  
              </div>
           </div>
        
   
        </div>

       <div class="row pt-4 mt-2 ">
           
           <div class="col-xl-6 col-md-6 col-12 col-sm-12">
               <h6 class="titleh1">Your Digital Marketing Campaign Success Is Now Attainable and Measurable</h6>
                  <p> The innovative and customized logo design solutions of J2TMedia Web Solutions allow your customers to identify your business instantly and also help boost the sales. </p>
               
               <p> We want all our clients to create a long term and positive impression through their logo designs, since a strong identity helps a business attract new customers and keeps the existing ones coming back to buy, time and again. Therefore, we create all our logos using the most scientific methodologies.</p>
           </div>
            <div class="col-xl-6 col-md-6 col-12 col-sm-12">
            <img class="w-100" src="/assets/site-images/home-image/services/logo-desing.png"/>
               
           </div> 
     



        </div>  