@page
@model MyProject.Pages.Mobile_App_DevelopmentModel
@{
}



<link rel="stylesheet" href="~/css/portfolio.css" />
<section class="banner"><img src="/assets/site-images/home-image/services/all-bg1.png" class="w-100">
    <div class="text-banner">
        <h1 class="c-heading-2 f-lean x-hidden-focus"> Mobile App Development </h1>
     @* <p class="c-paragraph-1">The evolution of internet has made it compulsory to build an appealing website for your clients/customers. A website is the face of your business on the online platform.</p>  *@
    </div>
    @* <div class="banner-2"></div> *@
</section>
   <div class="container mt-4 mb-4">
       <div class="row">
           <div class="col-md-12">
                       <h1 class="titleh1 titleh1pot"> Tagosys Mobile App Development   <span class="span-color">Services </span></h1>
                       <p> We offer custom-made solutions by aligning concepts from ideation to publishing to satisfy your business requirements. Apart from mobile your enablement and re-engineering services our team of experts will help to launch your app on Google Play store or app store by fulfilling all the requirements.</p>
                       @* <p class="pt-2 pb-2"> Our SEO experts have designed the SEO packages by keeping almost all the requirements and suppositions of search engine optimization in mind. To bring our client’s business on top, our professional implement the perfect fit SEO techniques.</p> *@
           </div>
       </div>
         <div class="row pt-4 pb-4">
           <div class="col-md-6 col-12 col-xs-6 col-xl-4 mb-2"> 
              <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-television" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> iOS Application Development</h3>
                  <p> Voizac helps create engaging apps with its iOS Development focus. Our experts cover the entire development cycle, right from the concept to distribution. Our experts can help you to develop customized iOS mobile applications for business needs.</p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-4 mb-2"> 
                  <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                 <i class="fa fa-desktop" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> Android Application Development</h3>
                  <p> Voizac helps the customer to take benefit of Google’s Android, the leading OS in the world. Our team leverages Android development to help organizations to develop business-driven native applications.</p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-4 mb-2"> 
                  <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-television" aria-hidden="true"></i>
                  <h3 class="c-heading-in">Cross Platform Application Development</h3>
                  <p>Cross-platform application development provides the user experience and functionality of domestic apps. Cross-platform apps provide a middle ground to achieve success for your mobile strategy.</p>
              </div>
           </div>
            @* <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
               <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> Committed to Quality</h3>
                  <p>Our quality process ensures your project flows smoothly. We maintain quality-control checklists throughout the process and will communicate with you regularly.</p>
              </div>
           </div> *@
   
        </div>


        @* <div class="row pt-4 mt-2 ">
         <div class="col-xl-12 col-md-12"> <h6 class="titleh1">Why Choose tagosys  Technologies?</h6> </div>
         <div class="col-xl-6 col-md-6 col-12 col-sm-12">
          <p>We sit on the same side of the table as YOU to provide business solutions to business problems. We don’t try to sell you the latest techno gizmo – instead – we listen to your business problem and offer several strategies to resolve the ROOT of the problem and achieve your objectives.</p>
           <ul> 
               <li>Master group with 5+ long stretches of normal experience</li>
               <li>The undertaking is directed by a specialized lead </li>
               <li>Engineers gifts coordinate your task needs</li>
               <li> No arrangement expenses: pay just for the work done</li>
               <li>Exacting non-divulgence understanding for information assurance</li>
               <li> Adaptable commitment on full-time or hourly premise</li>
               <li>As usual, your outcomes advance beyond plan</li> 
               <li> Complete Transparency is ensured</li>
           </ul>
         </div>
         <div class="col-xl-6 col-md-6 col-12 col-sm-12">
          <img class="w-100" src="/assets/site-images/home-image/services/web-desing.png"/>
             
         </div>
        </div>  *@



    </div> 