@page
@model MyProject.Pages.seo_OptimizationModel
@{
}


<link rel="stylesheet" href="~/css/portfolio.css" />
<section class="banner"><img src="/assets/site-images/home-image/services/all-bg1.png" class="w-100">
    <div class="text-banner">
        <h1 class="c-heading-2 f-lean x-hidden-focus">Search Engine Optimization Services </h1>
     @* <p class="c-paragraph-1">The evolution of internet has made it compulsory to build an appealing website for your clients/customers. A website is the face of your business on the online platform.</p>  *@
    </div>
    @* <div class="banner-2"></div> *@
</section>
   <div class="container mt-4 mb-4">
       <div class="row">
           <div class="col-md-12">
                       <h1 class="titleh1 titleh1pot">Search Engine Optimization   <span class="span-color">Services </span></h1>
                       <p> tagosys is one of the top and world class digital marketing and SEO Services Company serving its patrons present globally. We at tagosys offer a wide range of Internet marketing services. From analyzing the concept and planning to the final execution of the project, tagosys has got your back at every stage of digital marketing services. We at tagosys embrace 360˚ point of view of digital marketing, our services incorporate SEO, web design, Application development, Pay-per-Click advertising, and social media marketing.</p>
                       <p class="pt-2 pb-2"> Our SEO experts have designed the SEO packages by keeping almost all the requirements and suppositions of search engine optimization in mind. To bring our client’s business on top, our professional implement the perfect fit SEO techniques.</p>
           </div>
       </div>
         <div class="row pt-4 pb-4">
           <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
              <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-television" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> Idea to Product</h3>
                  <p> We will use our extensive knowledge of technology to propose a custom solution fitted to your specific requirements and turn your idea into a successful product.</p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
                  <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                 <i class="fa fa-desktop" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> Accountability</h3>
                  <p> We email a weekly project update outlining time spent, progress made, issues encountered and the following week’s plan so you can keep track of costs & status.</p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
                  <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-television" aria-hidden="true"></i>
                  <h3 class="c-heading-in">Responsiveness</h3>
                  <p> We are very committed to each and every of our customer. We will not make you wait when you have an important deadline to meet or a client requiring urgent support.</p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
               <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> Committed to Quality</h3>
                  <p>Our quality process ensures your project flows smoothly. We maintain quality-control checklists throughout the process and will communicate with you regularly.</p>
              </div>
           </div>
   
        </div>


        @* <div class="row pt-4 mt-2 ">
         <div class="col-xl-12 col-md-12"> <h6 class="titleh1">Why Choose tagosys  Technologies?</h6> </div>
         <div class="col-xl-6 col-md-6 col-12 col-sm-12">
          <p>We sit on the same side of the table as YOU to provide business solutions to business problems. We don’t try to sell you the latest techno gizmo – instead – we listen to your business problem and offer several strategies to resolve the ROOT of the problem and achieve your objectives.</p>
           <ul> 
               <li>Master group with 5+ long stretches of normal experience</li>
               <li>The undertaking is directed by a specialized lead </li>
               <li>Engineers gifts coordinate your task needs</li>
               <li> No arrangement expenses: pay just for the work done</li>
               <li>Exacting non-divulgence understanding for information assurance</li>
               <li> Adaptable commitment on full-time or hourly premise</li>
               <li>As usual, your outcomes advance beyond plan</li> 
               <li> Complete Transparency is ensured</li>
           </ul>
         </div>
         <div class="col-xl-6 col-md-6 col-12 col-sm-12">
          <img class="w-100" src="/assets/site-images/home-image/services/web-desing.png"/>
             
         </div>
        </div>  *@



    </div> 