@page
@model MyProject.Pages.Website_DesigningModel
@{
}
<link rel="stylesheet" href="~/css/portfolio.css" />
<section class="banner"><img src="/assets/site-images/home-image/services/all-bg1.png" class="w-100">
    <div class="text-banner">
        <h1 class="c-heading-2 f-lean x-hidden-focus">Web Design – Transforming Ideas into Reality </h1>
     @* <p class="c-paragraph-1">The evolution of internet has made it compulsory to build an appealing website for your clients/customers. A website is the face of your business on the online platform.</p>  *@
    </div>
    @* <div class="banner-2"></div> *@
</section>
   <div class="container mt-4 mb-4">
       <div class="row">
           <div class="col-md-12">
                       <h1 class="titleh1 titleh1pot"> We Proffer Unique Web Design <span class="span-color">Services </span></h1>
                       <p> Your online presence always begins with a professional website that gives you an online platform to showcase your skills and expertise. We are a professional team of web designer who bestows you the best website to build your brand. We understand the importance of a website for your business, hence we build the best-suited designs that symbolize your work and encompass all the compatibilities.</p>
                       <p class="pt-2 pb-2"> Our web design company have a vast experience in offering distinct website designs to different clients. What we offer:</p>
           </div>
       </div>
       <div class="row pt-4 pb-4">
           <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
              <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-television" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> Website Design (From Scratch)</h3>
                  <p> Building your business requires a creative website that helps you drive more clients and grow your business. A website with appealing UI makes you stand out of the crowd and let you serve your clients in a better way. We understand your business vision and hence, deliver you the best-suited website for your business. Our web development service will add value to your website that promotes you towards your goal.</p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
                  <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                 <i class="fa fa-desktop" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> Website Redesign</h3>
                  <p> The change of technology brings advancements in web development methodology. Hence your website too demands a new look. We as a web design firm, offer a renovated look without changing your functionality and backend operations. Our experienced web designers always believe in upgrading the website according to ongoing trends and technology. Like if your website is still on old website, we will redesign it with material design concept.</p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
                  <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-television" aria-hidden="true"></i>
                  <h3 class="c-heading-in">Responsive Website Designing</h3>
                  <p> Gone are the days when you build spate code for different size devices. We have a team that gives you the website that can be surfed on any device. Building a responsive website not only essential for user-engagement, it also benefits the website from SEO perspective. Most of the search engine gives more weightage to responsive websites. A website build with fluid design always have high potential than other web designing trends.</p>
              </div>
           </div>
            <div class="col-md-6 col-12 col-xs-6 col-xl-3 mb-2"> 
               <div class="box-bg box-bg-shadow box-services-aout p-2 text-center"> 
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                  <h3 class="c-heading-in"> Logo, Brochure Design</h3>
                  <p>In every website, the most important part is the company logo which becomes a brand with time. Logo designing is a matter of expertise and creativity. Our smart professionals are blessed with creativity that will build an alluring logo for your company. The theme, creativity, and innovation in a logo are what makes you lead your competitors within the market. Our designers have huge experience in creating unique and engaging logo for your firm.</p>
              </div>
           </div>
   
        </div>

        <div class="row pt-4 mt-2 ">
         <div class="col-xl-12 col-md-12"> <h6 class="titleh1">What Makes Us the Best Web Design Firm? </h6> </div>
         <div class="col-xl-6 col-md-6 col-12 col-sm-12">
          <p>The services we offer are undoubtedly unique and distinct, that none other can claim to offer you in the tech industry. Apart from that, there are many other factors that make us the best in the industry.</p>
           <ul> 
               <li>We work for the success of our client. We follow a pre-defined hierarchy to serve our clients.</li>
               <li>Our expert web designers design with the current trend and deliver you the best website for your business. </li>
               <li>As a professional web design agency, we too have the knowledge of SEO, so we build the websites considering all SEO factors.</li>
               <li> Our technical team is always available to assist you at any sort of time.</li>
           </ul>
         </div>
         <div class="col-xl-6 col-md-6 col-12 col-sm-12">
          <img class="w-100" src="/assets/site-images/home-image/services/web-desing.png"/>
             
         </div>
        </div> 



    </div> 